*{
box-sizing: border-box;
font-family: 'Fira Sans', sans-serif;
}

body{
    margin: 0;
}

h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}

/* for mobile  */
[class*="col-"]{
    width: 100%;
}

/* navbar design from here */

.navbar{
    background-color: #40868b;
    padding: 1% 7%;
    text-align: center;
   
}

.navbar::after{
    content: '';
    display: table;
    clear: both;
}

.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}
.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar-menu a{
    background-color: #40868b;
    border-radius: 7px;
    margin: 7px 0px;
    padding: 10px;
}

.navbar-menu a:hover{
    background-color: gray;
}

/* navbar ends here */

/* profile starts from here  */

.profile{
    padding: 130px 10px;
    text-align: center;
    position: relative;
}

.profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 30px;
    transition: transform 2s;
}
.top-weather-icon:hover{
    transform: rotate(360deg);
}

.profile .bottom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 30px;
    transition: transform 2s;
}
.bottom-weather-icon:hover{
    transform: rotate(360deg);
}
h1{
    font-family: 'Poppins', sans-serif;
    
}
.profile-desc h1{
    font-size: 3rem;
    
}
p{
    font-size: 1.3rem;
    text-align: justify;
}
.profile-desc p{
    color: gray;
    text-align: center;
    width: 90%;
    margin: 0 auto 20px auto;
    
}

/* profile ends here  */

/* about me stars here  */
.about-me{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    text-align: center;
}


.about-me::after{
    content: '';
    display: table;
    clear: both;
}

.dotted-hr{
    border: dotted 6px white;
    width: 120px;
    border-bottom: none;

}

.aboutMe-image img{
    width: 200px;
    height: 220px;
    border-radius: 50%;
    border: 5px solid white;
}

.cv-download{
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* about me ends here  */

/* skills stars here  */
.skills-container{
    padding-right: 45px;
}

.skills-container li{
    list-style: none;
    font-weight: bolder;
    margin: 30px 10px;
    position: relative;
}
.skills-container li::before{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 10px;
    border-radius: 1000px;
    background-color: rgb(86,86,153,.5);
}
.skills-container li::after{
    content: '';
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 0;
    height: 10px;
    border-radius: 1000px;
    background-color: rgb(86,86,153,1);

    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
}

.skills-container li.html::after{
  animation-name: html;
}
@keyframes html{
    to{
        width: 95%;
    }
}
.skills-container li.css::after{
  animation-name: css;
}
@keyframes css{
    to{
        width: 90%;
    }
}
.skills-container li.java::after{
  animation-name: java;
}
@keyframes java{
    to{
        width: 80%;
    }
}
.skills-container li.jQuery::after{
  animation-name: jQuery;
}
@keyframes jQuery{
    to{
        width: 75%;
    }
}
.skills-container li.react::after{
  animation-name: react;
}
@keyframes react{
    to{
        width: 70%;
    }
}
.skills-container li.c::after{
  animation-name: c;
}
@keyframes c{
    to{
        width: 65%;
    }
}
.skills-container li.express::after{
  animation-name: express;
}
@keyframes express{
    to{
        width: 60%;
    }
}

.skills-area{
    background-color: gray;
    padding: 20px;
}

.skills{
    color: white;
}
/* skills ends here  */

/* achievement contact starts here  */
.achievement-contact{
    background-color: #39a4ac;
    padding: 1% 7%;
    color: white;
    
}
.achievement-contact::after{
    content: '';
    clear: both;
    display: table;
}

.contact input, textarea{
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 10px;
    resize: none;
 
}
.contact button{
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 10px;
    cursor: pointer;
}

.btn{
    border: none;
    width: 50px;
    padding: 5px;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;

}

.media-links{
    text-align: center;
}
/* achievement contact ends here  */

/* footer area starts from here  */
.footer-area{
    background-color: black;
    display: grid;
    justify-content: center;
    color: white;
    padding: 50px;
}
/* footer area ends here  */
